.ong-card {
    display: flex;
    align-items: center;
    color: #000;
    box-shadow: solid 2px #2E8B57;
    border-radius: 14px;
    margin: 10px;
    padding: 10px;
    width: 80vw;
    margin: auto;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    margin-top: 20px;
    background-color: #FFF;
}

.ong-card:hover {
    transform: scale(1.02);
}

.ong-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 20px;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

section h1 {
    flex-grow: 1;
    margin: 0;
    font-size: 1.5em;
    margin-left: 25px;
}

.delete {
    background-color: red;
    font-size: 1.5em;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 20px;
    transition: background-color 0.3s;
    color: #fff;
}

.delete:hover {
    background-color: darkred;
}

.edit {
    background-color: #2E8B57;
    font-size: 1.5em;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 20px;
    transition: background-color 0.3s;
    color: #fff;
}

.edit:hover {
    background-color: #1b633a;
}

.ong-image {
    min-width: 90px;
    max-width: 100px;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
    background-color: #2E8B57;
    border-radius: 10px;
    margin-left: 20px;
}

.buttons{
    width: 15%;
}
