section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:#2E8B57;
    color: #fff;
    border-radius: 14px;
    width: 30vw;
    margin-bottom: 20px;
    margin-left: 10px;
}

.delete{
    background-color: red;
    font-size: 2em;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
}