.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
  }
  
  .signin-form {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .signin-form h1 {
    margin-bottom: 40px;
    color: #2E8B57;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .form-group input:focus {
    border-color: #2E8B57;
  }
  
  .submit-button {
    background-color: #2E8B57;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #276748;
  }

  p{
    cursor: pointer;
    margin-top: 10px;
    font-size: smaller;
    transition: all 0.3s;
  }

  p:hover{
    color: #276748;
  }
  